{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatusKit</title>
    <link rel="stylesheet" href="https://www.apple.com/wss/fonts/?families=SF+Pro,v1|SF+Pro+Icons,v1" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="https://www.apple.com/ac/globalnav/4/en_US/styles/ac-globalnav.built.css">
    <link rel="stylesheet" type="text/css" href="https://www.apple.com/ac/globalfooter/3/en_US/styles/ac-globalfooter.built.css">
    <link rel="stylesheet" href="https://www.apple.com/support/systemstatus/styles/site.built.css" type="text/css">

    <style>
        .main {
            width: 60%;
        }
        .section-hero {
            padding-top: 0px;
        }
        /*
        .section-lights td {
            width: 20%;
        }
        */
    </style>
</head>
<body class="ac-gn-current-support">
    <script type="text/javascript" charset="utf-8">
        window.acAnalyticsSettings = {
            compatibilityMode: true,
            onPageDataLoadedOptions: {
                page: {
                    sourceData: {
                        "s-channel": "legacysupport",
                    },
                },
            },
        };
    </script>

    <aside
        id="ac-gn-segmentbar"
        class="ac-gn-segmentbar"
        lang="en-US"
        dir="ltr"
        data-strings="{ 'exit': 'Exit', 'view': 'Store Home', 'segments': { 'smb': 'Business Store Home', 'eduInd': 'Education Store Home', 'other': 'Store Home' } }"
    ></aside>
    <input type="checkbox" id="ac-gn-menustate" class="ac-gn-menustate" />

    <!-- nav-here -->

    <div class="ac-gn-blur"></div>
    <div id="ac-gn-curtain" class="ac-gn-curtain"></div>
    <div id="ac-gn-placeholder" class="ac-nav-placeholder"></div>

    <script type="text/javascript" src="https://www.apple.com/ac/globalnav/4/en_US/scripts/ac-globalnav.built.js"></script>
    <div id="ac-gn-viewport-emitter">&nbsp;</div>

    <div id="ssp">
        <main data-reactroot="" id="ssp-main" class="main" role="main">
            <section class="section-hero"><h1 class="section-headline">System Status</h1></section>
            <div class="wrapper">
                <div class="lights-container">
                    <section class="section-legend" role="group" aria-label="">
                        <ul class="light-content light-image">
                            <li>
                                <div class="light-available"></div>
                                <span role="text">
                                    <span class="a11y">
                                        Green Circle:
                                    </span>
                                    Disponível
                                </span>
                            </li>
                            <!--
                            <li>
                                <div class="light-issue"></div>
                                <span role="text">
                                    <span class="a11y">
                                        Green Circle:
                                        
                                        
                                    </span>
                                    Indisponibilidade Parcial
                                </span>
                            </li>
                            <li>
                                <div class="light-outage"></div>
                                <span role="text">
                                    <span class="a11y">
                                        Green Circle:
                                        
                                        
                                    </span>
                                    Indisponibilidade Total
                                </span>
                            </li>
                            <li>
                                <div class="light-maintenance"></div>
                                <span role="text">
                                    <span class="a11y">
                                        Green Circle:
                                        
                                        
                                    </span>
                                    Desconhecido
                                </span>
                            </li>
                            -->
                        </ul>
                    </section>
                    <section class="section-lights">
                        {% block content %}
                        <!-- TODO // -->
		                {% endblock %}
                    </section>
                    <section class="section-links" style="padding-bottom: 20px;">
                        <p class="link-copy">
                            <!-- react-text: 662 -->If you are experiencing an issue not listed here,
                            
                            <a href="#" aria-labelledby="support"><span>contact support</span><span id="support" class="a11y">
                                Contact support for issues not listed here.</span></a>
                            <!-- react-text: 666 -->.
                        </p>
                        <p class="link-copy">
                            <!-- react-text: 668 -->Looking for developer system status?
                            <a href="#" aria-labelledby="status">
                                <span>
                                    <!-- react-text: 671 -->
                                    <!-- react-text: 672 -->Find it here
                                </span>
                                <span id="status" class="a11y">Developer system status - find it here.</span>
                            </a>
                            <!-- react-text: 674 -->.
                        </p>
                        <p class="serviceDescription"></p>
                    </section>
                </div>
                <!--
                <section class="section-date">
                    <p class="date-copy">Last updated today, 4:28 PM HPdB.</p>
                    <h2 id="lastupdated" style="display: none;">2021-11-16T19:28:20.051Z</h2>
                </section>
                -->
            </div>
        </main>
    </div>
    <div id="viewport-emitter"></div>
</body>
</html>
