<nav
    id="ac-globalnav"
    class="js no-touch"
    role="navigation"
    aria-label="Global Navigation"
    data-hires="false"
    data-analytics-region="global nav"
    lang="en-US"
    dir="ltr"
    data-store-locale="us"
    data-store-api=""
    data-search-locale="en_US"
    data-search-api=""
>
    <div class="ac-gn-content">
        <ul class="ac-gn-header">
            <li class="ac-gn-item ac-gn-menuicon">
                <label class="ac-gn-menuicon-label" for="ac-gn-menustate" aria-hidden="true">
                    <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
                        <span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
                    </span>
                    <span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
                        <span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
                    </span>
                </label>
                <a href="#ac-gn-menustate" class="ac-gn-menuanchor ac-gn-menuanchor-open" id="ac-gn-menuanchor-open">
                    <span class="ac-gn-menuanchor-label">Open Menu</span>
                </a>
                <a href="#" class="ac-gn-menuanchor ac-gn-menuanchor-close" id="ac-gn-menuanchor-close">
                    <span class="ac-gn-menuanchor-label">Close Menu</span>
                </a>
            </li>
        </ul>
        <!--
        <div class="ac-gn-search-placeholder-container" role="search">
            <div class="ac-gn-search ac-gn-search-small">
                <a
                    id="ac-gn-link-search-small"
                    class="ac-gn-link"
                    href="https://support.apple.com/kb/index?page=search&amp;locale=en_US"
                    data-analytics-title="search"
                    data-analytics-click="search"
                    data-analytics-intrapage-link=""
                    aria-label="Search Support"
                    role="button"
                    aria-haspopup="true"
                >
                    <div class="ac-gn-search-placeholder-bar">
                        <div class="ac-gn-search-placeholder-input">
                            <div class="ac-gn-search-placeholder-input-text" aria-hidden="true">
                                <div class="ac-gn-link-search ac-gn-search-placeholder-input-icon"></div>
                                <span class="ac-gn-search-placeholder">Search Component</span>
                            </div>
                        </div>
                        <div class="ac-gn-searchview-close ac-gn-searchview-close-small ac-gn-search-placeholder-searchview-close">
                            <span class="ac-gn-searchview-close-cancel" aria-hidden="true">Cancel</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        -->

        <ul class="ac-gn-list">
            <li class="ac-gn-item ac-gn-item-menu ac-gn-mac">
                <a class="ac-gn-link ac-gn-link-mac" href="//www.apple.com/mac/" data-analytics-title="mac">
                    <span class="ac-gn-link-text">Mac</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-ipad">
                <a class="ac-gn-link ac-gn-link-ipad" href="//www.apple.com/ipad/" data-analytics-title="ipad">
                    <span class="ac-gn-link-text">iPad</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-iphone">
                <a class="ac-gn-link ac-gn-link-iphone" href="//www.apple.com/iphone/" data-analytics-title="iphone">
                    <span class="ac-gn-link-text">iPhone</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-watch">
                <a class="ac-gn-link ac-gn-link-watch" href="//www.apple.com/watch/" data-analytics-title="watch">
                    <span class="ac-gn-link-text">Watch</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-tv">
                <a class="ac-gn-link ac-gn-link-tv" href="//www.apple.com/tv/" data-analytics-title="tv">
                    <span class="ac-gn-link-text">TV</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-music">
                <a class="ac-gn-link ac-gn-link-music" href="//www.apple.com/music/" data-analytics-title="music">
                    <span class="ac-gn-link-text">Music</span>
                </a>
            </li>
            <li class="ac-gn-item ac-gn-item-menu ac-gn-support">
                <a class="ac-gn-link ac-gn-link-support" href="https://support.apple.com" data-analytics-title="support">
                    <span class="ac-gn-link-text">Support</span>
                </a>
            </li>
            <!--
            <li class="ac-gn-item ac-gn-item-menu ac-gn-search" role="search">
                <a
                    id="ac-gn-link-search"
                    class="ac-gn-link ac-gn-link-search"
                    href="https://support.apple.com/kb/index?page=search&amp;locale=en_US"
                    data-analytics-title="search"
                    data-analytics-click="search"
                    data-analytics-intrapage-link=""
                    aria-label="Search Support"
                    role="button"
                    aria-haspopup="true"
                ></a>
            </li>
            <li class="ac-gn-item ac-gn-bag" id="ac-gn-bag">
                <a
                    class="ac-gn-link ac-gn-link-bag"
                    href="//www.apple.com/us/shop/goto/bag"
                    data-analytics-title="bag"
                    data-analytics-click="bag"
                    aria-label="Shopping Bag"
                    data-string-badge="Shopping Bag with Items"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-controls="ac-gn-bagview-content"
                >
                    <span class="ac-gn-link-text">Shopping Bag</span>
                    <span class="ac-gn-bag-badge" aria-hidden="true"></span>
                </a>
                <span class="ac-gn-bagview-caret ac-gn-bagview-caret-large"></span>
            </li>
            -->
        </ul>
        <aside id="ac-gn-searchview" class="ac-gn-searchview" role="search" data-analytics-region="search">
            <div class="ac-gn-searchview-content">
                <div class="ac-gn-searchview-bar">
                    <div class="ac-gn-searchview-bar-wrapper">
                        <form id="ac-gn-searchform" class="ac-gn-searchform" action="https://support.apple.com/kb/index" method="get">
                            <div class="ac-gn-searchform-wrapper">
                                <input
                                    id="ac-gn-searchform-input"
                                    class="ac-gn-searchform-input"
                                    type="text"
                                    aria-label="Search Support"
                                    placeholder="Search Support"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    autocomplete="off"
                                    spellcheck="false"
                                    name="q"
                                />
                                <input id="ac-gn-searchform-src" type="hidden" name="src" value="globalnav_support" />
                                <button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit" type="submit" disabled="" aria-label="Submit Search"></button>
                                <button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset" type="reset" disabled="" aria-label="Clear Search">
                                    <span class="ac-gn-searchform-reset-background"></span>
                                </button>
                                <input type="hidden" name="type" value="organic" /><input type="hidden" name="page" value="search" /><input type="hidden" name="locale" value="en_US" />
                            </div>
                        </form>
                        <button id="ac-gn-searchview-close-small" class="ac-gn-searchview-close ac-gn-searchview-close-small" aria-label="Cancel Search">
                            <span class="ac-gn-searchview-close-cancel" aria-hidden="true">
                                Cancel
                            </span>
                        </button>
                    </div>
                </div>
                <aside id="ac-gn-searchresults" class="ac-gn-searchresults" data-string-quicklinks="Quick Links" data-string-suggestions="Suggested Searches" data-string-noresults="">
                    <section class="ac-gn-searchresults-section ac-gn-searchresults-section-defaultlinks" data-analytics-region="defaultlinks search">
                        <div class="ac-gn-searchresults-section-wrapper">
                            <h3 class="ac-gn-searchresults-header ac-gn-searchresults-animated">Quick Links</h3>
                            <ul class="ac-gn-searchresults-list" id="defaultlinks" role="listbox">
                                <li class="ac-gn-searchresults-item ac-gn-searchresults-animated" role="presentation">
                                    <a
                                        href="https://support.apple.com/en-us/HT201487"
                                        role="option"
                                        class="ac-gn-searchresults-link ac-gn-searchresults-link-defaultlinks"
                                        data-query="no keyword"
                                        data-section="defaultlinks"
                                        data-items="5"
                                        data-index="0"
                                        data-label="If you forgot your Apple ID password"
                                        data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50"
                                    >
                                        If you forgot your Apple ID password
                                    </a>
                                </li>
                                <li class="ac-gn-searchresults-item ac-gn-searchresults-animated" role="presentation">
                                    <a
                                        href="https://support.apple.com/en-us/HT204306"
                                        role="option"
                                        class="ac-gn-searchresults-link ac-gn-searchresults-link-defaultlinks"
                                        data-query="no keyword"
                                        data-section="defaultlinks"
                                        data-items="5"
                                        data-index="1"
                                        data-label="If you forgot the passcode for your iPhone, iPad, or iPod touch"
                                        data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50"
                                    >
                                        If you forgot the passcode for your iPhone, iPad, or iPod touch
                                    </a>
                                </li>
                                <li class="ac-gn-searchresults-item ac-gn-searchresults-animated" role="presentation">
                                    <a
                                        href="https://support.apple.com/en-us/HT202039"
                                        role="option"
                                        class="ac-gn-searchresults-link ac-gn-searchresults-link-defaultlinks"
                                        data-query="no keyword"
                                        data-section="defaultlinks"
                                        data-items="5"
                                        data-index="2"
                                        data-label="View, change, or cancel your subscriptions"
                                        data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50"
                                    >
                                        View, change, or cancel your subscriptions
                                    </a>
                                </li>
                                <li class="ac-gn-searchresults-item ac-gn-searchresults-animated" role="presentation">
                                    <a
                                        href="https://support.apple.com/en-us/HT204204"
                                        role="option"
                                        class="ac-gn-searchresults-link ac-gn-searchresults-link-defaultlinks"
                                        data-query="no keyword"
                                        data-section="defaultlinks"
                                        data-items="5"
                                        data-index="3"
                                        data-label="Update iOS on your device"
                                        data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50"
                                    >
                                        Update iOS on your device
                                    </a>
                                </li>
                                <li class="ac-gn-searchresults-item ac-gn-searchresults-animated" role="presentation">
                                    <a
                                        href="https://support.apple.com/contact"
                                        role="option"
                                        class="ac-gn-searchresults-link ac-gn-searchresults-link-defaultlinks"
                                        data-query="no keyword"
                                        data-section="defaultlinks"
                                        data-items="5"
                                        data-index="4"
                                        data-label="Contact Apple Support"
                                        data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50"
                                    >
                                        Contact Apple Support
                                    </a>
                                </li>
                            </ul>
                            <span role="status" class="ac-gn-searchresults-count" aria-live="polite">5 Quick Links</span>
                        </div>
                    </section>
                </aside>
            </div>
            <button id="ac-gn-searchview-close" class="ac-gn-searchview-close" aria-label="Cancel Search">
                <span class="ac-gn-searchview-close-wrapper">
                    <span class="ac-gn-searchview-close-left"></span>
                    <span class="ac-gn-searchview-close-right"></span>
                </span>
            </button>
        </aside>
        <aside class="ac-gn-bagview" data-analytics-region="bag">
            <div class="ac-gn-bagview-scrim">
                <span class="ac-gn-bagview-caret ac-gn-bagview-caret-small"></span>
            </div>
            <div class="ac-gn-bagview-content" id="ac-gn-bagview-content"></div>
        </aside>
    </div>
</nav>